h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7777;
}

header {
    background-color: #ffffff;
    border-bottom: solid;
    border-color: #4aaaa5;
    width: 100%;
    position: static;
    top: 0px;
   
}

nav {
    float: right;
    display: block;
    text-align: center;
    margin-top: -65px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #7777;
    background-image: url(../images/dust_scratches.png) ;
    padding-top:0 px;  
}

footer{ 
    background-color: #666666;
    border-top: solid;
    border-color: #4aaaa5;
    width: 100%;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin: auto;
}

ul {
    list-style-type: none;
    background-color: #ffffff;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
}

.name_box {
    background-color: #4aaaa5;
    width: 205px;
    border: 10px #4aaaa5;
    padding: 10px;
    color: #ffffff;
    position: relative;
    top: 22px;
}

.content {
    border-style: solid;
    border-color: #dddddd;
    padding: 30px;
    background-color: #ffffff;
    overflow: auto;
    width:894px;
    margin: auto;
    color: #777777;
    text-indent: 10px;
    word-spacing: 1.5px;
    letter-spacing: 1px;
    line-height: 18px;

}

.profile_pic {
    float: left;
}

.line {
    background-color: #dddd;
    border: none;
    height: 2px;

}

.heading{
    width: 960px;
    margin: auto;
}
